<a href="https://colab.research.google.com/github/AnuArora23/Python-Notes/blob/main/Patterns_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display number
        print("*", end=' ')
    # new line after each row
    print('')

Enter the number of rows5

*
* *
* * *
* * * *

In [ ]:
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(i):
        # display row value
        print(i, end=' ')
    # new line after each row
    print('')

Enter the number of rows5

1
2 2
3 3 3
4 4 4 4

In [ ]:
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows):
    # nested loop
    for j in range(1,i+1):
        # display column value
        print(j, end=' ')
    # new line after each row
    print('')

Enter the number of rows5

1
1 2
1 2 3
1 2 3 4

In [ ]:
rows = int(input('Enter the number of rows'))
# outer loop
for i in range(rows,0,-1):
    # nested loop
    for j in range(1,i+1):
        # display number
        print("*", end=' ')
    # new line after each row
    print('')

Enter the number of rows5
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print("\r")

Enter the number of rows5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(i, end=' ')
    print("\r")

Enter the number of rows5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
ows = int(input('Enter the number of rows'))
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print((i * 2 - 1), end=" ")
        j = j + 1
    i = i + 1
    print('')

Enter the number of rows10
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print("")

Enter the number of rows10
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

Enter the number of rows9
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(1, rows):
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print("*", end=' ')
    print("")

Enter the number of rows6
          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(1, rows - i):
        print(" ", end="")
    for k in range(0, i + 1):
        print("*", end="")
    print()

Enter the number of rows7
      *
     **
    ***
   ****
  *****
 ******
*******

In [ ]:
rows = int(input('Enter the number of rows'))
for i in range(rows):
    for j in range(1, rows - i):
        print(" ", end="")
    for k in range(0, i + 1):
        print("* ", end="")
    print()

Enter the number of rows7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [ ]:
rows = int(input("Enter the number of rows: "))
for i in range(1, rows):     # loop for the number of rows
    for j in range(1, i + 1):
        # printing the multiplication of the row and column
        print(i * j, end='  ')
    print()

Enter the number of rows: 5
1
2  4
3  6  9
4  8  12  16

In [ ]:
rows = int(input("Enter number of rows: "))

k = 0
count=0
count1=0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print("  ", end="")
        count+=1

    while k!=((2*i)-1):
        if count<=rows-1:
            print(i+k, end=" ")
            count+=1
        else:
            count1+=1
            print(i+k-(2*count1), end=" ")
        k += 1

    count1 = count = k = 0
    print()

Enter number of rows: 5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [ ]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    while k!=(2*i-1):
        print("* ", end="")
        k += 1

    k = 0
    print()

Enter number of rows: 7
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [ ]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

Enter number of rows: 7
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *